.graphContainer {
    height : 100%;
    width : 100%;
    border : 3px solid red;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.graphParent {
    height : 350px;
    width : 50%;
    margin-top: 10px;
}


.temp {
    height : 300px;
    width : 40%;
    border : 5px solid blue;
    box-sizing: border-box;
}

@media (min-width : 0px) and (max-width : 768px) {
    .graphContainer {
        flex-direction: column;
    }
    .temp {
        width : 100%;
    }
    .graphParent {
        width : 100%;
    }
}

@media (min-width : 769px) {
    .temp {
        width : 20%;
    }
    .graphParent {
        width : 40%;
    }
}