.topicWiseFilterWholePage {
    width : 100%;
    height : 10000px;
}

.graphParent {
    width : 100%;
}
.btnStyling {
    height : 50px;
}

.ulButtons {
    list-style-type: none;
    padding: 0px;
}
.buttonsContainer {
    height : 500px;
    overflow-y :scroll;
}
.graphParent {
    width : 100%;
}


@media (min-width : 0px) and (max-width : 768px) {
    .buttonContainer {
        width : 100%;
    }

    .graphParent {
        width : 100%;
    }
    .topicWiseFilterWholePage {
        display : flex;
        flex-direction: column;
    }
    .donutChartContainer {
        width : 100%;
    }
    .allChartsstyling {
        width : 100%;
    }
    .allStatsCont {
        display: flex;
        flex-direction: column;
        width : 100%;
    }

}

@media(min-width : 769px) and (max-width : 1167px) {
    .topicWiseFilterWholePage {
        display : flex;
        flex-direction: column;
    }
}

@media (min-width : 1168px) {
    .buttonContainer {
        width : 30%;
        height : 100%;
    }
    .graphParent {
        width : 100%;
    }
    .topicWiseFilterWholePage {
        width : 100%;
    }
    
    .allChartsstyling {
        width : 45%;
    }
    .allStatsCont {
        display: flex;
        flex-direction: row;
        width : 100%;
    }

}